@use '@/assets/scss/breakpoint' as *;

// ベース、ユーティリティ
html {
  font-size: 62.5%;

  @media (min-width: 1921px) {
    font-size: 0.6vw;
  }
}

body {
  min-width: 120rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;

  @include mq-down() {
    min-width: initial;
  }
}

a {
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.6;
  }
}

.container {
  box-sizing: border-box;
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;

  @include mq-down(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.marker {
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 1rem;

  &.is-orange {
    background-image: linear-gradient(to right, #fbddc2 0%, #fbddc2 100%);
  }
}

.font-bold {
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}
