// フォント
$fontXL: clamp(2rem, calc(1.8rem + 0.9375vw), 3.2rem);
$fontL: clamp(2rem, calc(1.8rem + 0.625vw), 2.6rem);
$fontM: clamp(1.8rem, calc(1.6rem + 0.625vw), 2rem);
$fontS: 1.4rem;

// カラー
$keyColor: #18c1f0;
$subColor: #73be60;
