@use '@/assets/scss/breakpoint' as *;

.title01 {
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 3.6rem;
  text-shadow: 0.1rem 0.2rem 0.5rem rgba(112, 180, 199, 0.498);
  background-color: #98daec;
  color: #fff;

  @include mq-down(sm) {
    font-size: 2.8rem;
  }
}
